<div class="row">        <!-- first days -->
  <div class="col-md-6"> <!-- left column -->
    <h3>Day 1</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td>Before starting</td>
        <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank">Pre-workshop survey</a></td>
      </tr>
      <tr>
        <td>Lesson 1</td>
        <td>Introduction to R for Geospatial Data</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 2   -->
        <td>&nbsp;&nbsp;8:15 am</td>        <!-- time    -->
        <td>&nbsp;&nbsp;&nbsp;&nbsp;<a href="https://datacarpentry.org/r-intro-geospatial/01-rstudio-intro.html">Introduction to R and RStudio</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 2   -->
        <td>&nbsp;&nbsp;8:45 am</td>        <!-- time    -->
        <td>&nbsp;&nbsp;&nbsp;&nbsp;<a href="https://datacarpentry.org/r-intro-geospatial/02-project-intro.html">Project Management With RStudio</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>Lesson 2</td>
        <td>Introduction to Geospatial Raster and Vector Data for R</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 4   -->
        <td>&nbsp;&nbsp;09:15 am</td>        <!-- time    -->
        <td>&nbsp;&nbsp;&nbsp;&nbsp;<a href="https://datacarpentry.org/r-raster-vector-geospatial/instructor/06-vector-open-shapefile-in-r.html">Open and Plot Vector Layers</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 5   -->
        <td>&nbsp;&nbsp;09:45 pm</td>        <!-- time    -->
        <td>Break for 10 minutes</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 6   -->
        <td>&nbsp;&nbsp;09:55 am</td>        <!-- time    -->
        <td>&nbsp;&nbsp;&nbsp;&nbsp;<a href="https://datacarpentry.org/r-raster-vector-geospatial/instructor/07-vector-shapefile-attributes-in-r.html">Explore and Plot by Vector Layer Attributes</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 7   -->
        <td>&nbsp;&nbsp;10:55 am</td>        <!-- time    -->
        <td>&nbsp;&nbsp;&nbsp;&nbsp;<a href="https://datacarpentry.org/r-raster-vector-geospatial/instructor/08-vector-plot-shapefiles-custom-legend.html">Plot Multiple Vector Layers</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 8   -->
        <td>&nbsp;&nbsp;11:55 am</td>        <!-- time    -->
        <td>Lunch break until 1:00pm</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 9   -->
        <td>&nbsp;&nbsp;01:00 pm</td>        <!-- time    -->
        <td>&nbsp;&nbsp;&nbsp;&nbsp;<a href="https://datacarpentry.org/r-raster-vector-geospatial/instructor/01-raster-structure.html">Intro to Raster Data</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 10   -->
        <td>&nbsp;&nbsp;02:00 pm</td>        <!-- time    -->
        <td>&nbsp;&nbsp;&nbsp;&nbsp;<a href="https://datacarpentry.org/r-raster-vector-geospatial/instructor/02-raster-plot.html">Plot Raster Data</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 10   -->
        <td>&nbsp;&nbsp;03:10 pm</td>        <!-- time    -->
        <td>Break for 15  minutes</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 11   -->
        <td>&nbsp;&nbsp;03:25 pm</td>        <!-- time    -->
        <td>&nbsp;&nbsp;&nbsp;&nbsp;<a href="https://datacarpentry.org/r-raster-vector-geospatial/instructor/03-raster-reproject-in-r.html">Reproject Raster Data</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 12   -->
        <td>&nbsp;&nbsp;04:25 pm</td>        <!-- time    -->
        <td>&nbsp;&nbsp;&nbsp;&nbsp;<a href="https://datacarpentry.org/r-raster-vector-geospatial/instructor/04-raster-calculations-in-r.html">Raster Calculations</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>&nbsp;&nbsp;4:45 pm</td> 
        <td>End workshop</td>
      </tr>
      <tr>               <!-- row 3   -->
        <td>After workshop</td> 
        <td><a href="{{ site.post_survey }}{{ site.github.project_title }}" target="_blank">Post-workshop survey</a></td>
      </tr>
    </table>
  </div>
</div>
